<div class="scrollmenu">
    <a routerLink='/welcome-home'>Welcome Home</a>
    <a routerLink='/bookingform'>Booking Form</a>
    <a routerLink='/about'>About</a>
    <a routerLink='/contact'>Contact</a>
  </div>
<body>
    <div class="info">
<p> INFORMATION ABOUT MOGORU DRIVING SCHOOL</p>
<p>
    Our company is based on the belief that our customers' needs are of the utmost importance.<br>
     Our entire team is committed to meeting and exceeding those needs. As a result, a high<br>
      percentage of our business is from repeat customers and referrals. Our home office is in <br>
       Attredgeville at Sekhu street, but cover all New Mogoru at the best rates and services. We have a team of professional<br>
        Instructors that can take you step by step to reach your driving goal. We have male and female <br>
        instructors to meet your preferences. We would welcome the opportunity to earn your trust and deliver <br>
        the best service in the industry.
  
   
    </p>
    <p>
        Hours:<br>
Monday to Friday 7 AM-7 PM<br>
Saturday and Sunday 8 AM- 5 PM
​</p>
</div>
</body>