<body>
    <div class="scrollmenu">
        <a routerLink='/welcome-home'>Welcome Home</a>
        <a routerLink='/bookingform'>Booking form</a>
        <a routerLink='/about'>About</a>
        <a routerLink='/contact'>Contact</a>
      </div>
      <div class="details">
      First Name: {{fname}}<br>
      Second Name: {{sname}}<br>
      Surname: {{surname}}<br>
      Age: {{age}}<br>
      Date of Birth: {{birthdate}}<br>
      Identity Number: {{id}}<br>
      Email: {{email}}<br>
      Contact Number: {{contactno}}<br>
      Date of Booking: {{bookingdate}}<br>
      </div>

    <p>Your booking has been approved we will confirm with you if the space is available </p>
    <button  routerLink='/welcome-home'>Exit</button>
    </body>