input{
    width: 20%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    padding: 8px;
    border: solid;
    border-radius: 5px;
}
button{
    width: 20%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    padding: 10px;
    border: solid;
    border-radius: 5px;
}


.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 30px;
}
.scrollmenu {
    background-color: black;
    overflow: auto;
    white-space: nowrap;
}
.scrollmenu a:hover {
    background-color:black;
}

body{
    height: 1000px;
}